html {
    overflow-y: scroll;
  }
  
  body {
    width: 100%;
    overflow-x: hidden;
    margin-right: 0 !important;
    margin-top: 0;
    padding-top: 0;
  }
  
  /* Thêm cho mobile nếu cần */
  @media screen and (max-width: 768px) {
    html, body {
      overflow-x: hidden;
    }
  }